body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}
h1{
  width : 100%;
  text-align: center;
}


textarea {
  resize: none;
}

.w3-quarter img {
  margin-bottom: -6px;
  cursor: pointer;
}

.w3-quarter img:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.round {
  position : relative;
  width : 200px;
  height : 200px;
  left : 34%;
  border-radius: 50%;
  background-color : lightblue;
  border-style: solid;
  border-width: 4px;
  border-color : black;
  cursor: pointer;
}

i{
  font-size : 100px;
}

.col{
  margin-top:100px; 
  margin-bottom: 100px;
}

@media only screen and (max-width: 700px) { 
  .round{
    left : 23%;
  }

  .col{
    margin-top:40px; 
    margin-bottom: 40px;
  }

}